<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/security.xml
        </param-value>
    </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.bidover.auto.controller.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cp</servlet-name>
        <jsp-file>/jsps/cp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cp</servlet-name>
        <url-pattern>/cp.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>/jsps/search.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>addAuto</servlet-name>
        <jsp-file>/jsps/addAuto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAuto</servlet-name>
        <url-pattern>/addAuto.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>chooseAdd</servlet-name>
        <jsp-file>/jsps/chooseAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>chooseAdd</servlet-name>
        <url-pattern>/chooseAdd.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signup</servlet-name>
        <jsp-file>/jsps/fm.signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/fm.signup.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/jsps/fm.login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/fm.login.jsp</url-pattern>
    </servlet-mapping>

	<!-- ****ERROR LOGIN*****-->
    <servlet>
        <servlet-name>errorLogin</servlet-name>
        <jsp-file>/jsps/errorLogin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>errorLogin</servlet-name>
        <url-pattern>/errorLogin.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>auto</servlet-name>
        <jsp-file>/jsps/auto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>auto</servlet-name>
        <url-pattern>/auto.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userInfo</servlet-name>
        <jsp-file>/jsps/userInfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfo</servlet-name>
        <url-pattern>/userInfo.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userAuto</servlet-name>
        <jsp-file>/jsps/userAuto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAuto</servlet-name>
        <url-pattern>/userAuto.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>passwordReminder</servlet-name>
        <jsp-file>/jsps/passwordReminder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>passwordReminder</servlet-name>
        <url-pattern>/passwordReminder.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>passwordChanger</servlet-name>
        <jsp-file>/jsps/passwordChanger.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>passwordChanger</servlet-name>
        <url-pattern>/passwordChanger.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>autoView</servlet-name>
        <jsp-file>/jsps/autoView.jspf</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>autoView</servlet-name>
        <url-pattern>/autoView.jspf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>autoPreview</servlet-name>
        <jsp-file>/jsps/autoPreview.jspf</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>autoPreview</servlet-name>
        <url-pattern>/autoPreview.jspf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addImage</servlet-name>
        <jsp-file>/jsps/addImage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addImage</servlet-name>
        <url-pattern>/addImage.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchResult</servlet-name>
        <jsp-file>/jsps/searchResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchResult</servlet-name>
        <url-pattern>/searchResult.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>help</servlet-name>
        <jsp-file>/jsps/inf.hlp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>help</servlet-name>
        <url-pattern>/inf.hlp.jsp</url-pattern>
    </servlet-mapping>

    <!-- ****DETAILS*****-->

    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>com.bidover.detail.controller.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addDetail</servlet-name>
        <jsp-file>/pages/detail/addDetail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addDetail</servlet-name>
        <url-pattern>/addDetail.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detailView</servlet-name>
        <jsp-file>/pages/detail/detailView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailView</servlet-name>
        <url-pattern>/detailView.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchDetail</servlet-name>
        <jsp-file>/pages/detail/searchDetail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchDetail</servlet-name>
        <url-pattern>/searchDetail.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detailSearchResult</servlet-name>
        <jsp-file>/pages/detail/detailSearchResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailSearchResult</servlet-name>
        <url-pattern>/detailSearchResult.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detailIndex</servlet-name>
        <jsp-file>/pages/detail/detailIndex.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailIndex</servlet-name>
        <url-pattern>/detailIndex.jsp</url-pattern>
    </servlet-mapping>

     <!-- ****TIRES&WHEELS*****-->
     <servlet>
        <servlet-name>TiresController</servlet-name>
        <servlet-class>com.bidover.tires.controller.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TiresController</servlet-name>
        <url-pattern>/TiresController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tiresIndex</servlet-name>
        <jsp-file>/pages/tireswheels/tiresIndex.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tiresIndex</servlet-name>
        <url-pattern>/tiresIndex.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addTires</servlet-name>
        <jsp-file>/pages/tireswheels/tires/addTires.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTires</servlet-name>
        <url-pattern>/tires/addTires.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchTires</servlet-name>
        <jsp-file>/pages/tireswheels/tires/searchTires.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchTires</servlet-name>
        <url-pattern>/tires/searchTires.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchTiresResult</servlet-name>
        <jsp-file>/pages/tireswheels/tires/searchTiresResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchTiresResult</servlet-name>
        <url-pattern>/tires/searchTiresResult.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tiresView</servlet-name>
        <jsp-file>/pages/tireswheels/tires/tiresView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tiresView</servlet-name>
        <url-pattern>/tires/tiresView.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addWheels</servlet-name>
        <jsp-file>/pages/tireswheels/wheels/addWheels.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addWheels</servlet-name>
        <url-pattern>/wheels/addWheels.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchWheels</servlet-name>
        <jsp-file>/pages/tireswheels/wheels/searchWheels.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchWheels</servlet-name>
        <url-pattern>/wheels/searchWheels.jsp</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>searchWheelsResult</servlet-name>
        <jsp-file>/pages/tireswheels/wheels/searchWheelsResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchWheelsResult</servlet-name>
        <url-pattern>/wheels/searchWheelsResult.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wheelsView</servlet-name>
        <jsp-file>/pages/tireswheels/wheels/wheelsView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>wheelsView</servlet-name>
        <url-pattern>/wheels/wheelsView.jsp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>tiresIndex.jsp</welcome-file>
    </welcome-file-list>
</web-app>
